body{
    background: black;
    font-family: cursive;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(11px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight:600 ;
    color: orchid;
    cursor: pointer;
    transition:0.5s ease;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar{
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
    font-weight:600 ;
    font-size: 22px;
    color: orchid;
    padding-right: 50px;
}
span{
    color: orchid;
}
.home{
    display: flex;
    align-items:center;
    justify-content: center;
}
.home-content{
    font-size: 20px;
    font-weight: 600;
    padding: 150px;
}
.home img{
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}
.home img:hover{
   filter:drop-shadow(0 0 5px orchid);
    transform: scale(1.1);
}
.home-content .btn{
    text-decoration: none;
    background-color:orchid;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 55px;
    margin-top: 15px;
    transition: 0.5s ease;
}
.home-content .btn:hover{
    background-color: rgb(255, 255, 255);
    color:orchid;
    transform:scale(1.1);
}
